@charset "utf-8";
// rem 单位换算：定为 75px 只是方便运算，750px-75px、640-64px、1080px-108px，如此类推
$vw_fontsize: 82.8;
@function rem($px) {
     @return ($px / $vw_fontsize ) * 0.5rem;
}
// 根元素大小使用 vw 单位
$vw_design: 828;
html{
  font-size:($vw_fontsize/($vw_design/2))*100vw;
   // 同时，通过Media Queries 限制根元素最大最小值
  @media screen and (max-width:320px){
    font-size:64px;
  }
  @media screen and (min-width:540px){
    font-size:108px;
  }
}
.mod_grid {
    position: relative;
    &::after {
        // 实现1物理像素的下边框线
        content: '';
        position: absolute;
        z-index: 1;
        pointer-events: none;
        background-color: #ddd;
        height: 1px;
        left: 0;
        right: 0;
        top: 0;
        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
            -webkit-transform: scaleY(0.5);
            -webkit-transform-origin: 50% 0%;
        }
    }
}
// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小
body{
  max-width:540px;
  min-width:320px;
}
